<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1 id="titulo">Aluguei Palmeira</h1>
    <div id="centro">
        <div id="tela-login">
            <form action="/templates/login.html" id="login" method="post"></form>
                <label for="nome" id="nome">Usuário/Número</label>
                <input type="text" name="nome" class="digitado" required placeholder="Digite seu nome">
                <label for="senha" id="senha">Senha</label>
                <input type="password" name="senha" required class="digitado" placeholder="Digite sua senha">
                <button type="submit" id="botao-entrar" name="entrar">ENTRAR</button>
        </div>
    </div>


</body>
</html>